@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}


.background-global-enemy{
    background-color: rgb(33, 19, 61);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1000;
    background-size: cover;
}


.botaodecorsol{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 100%;
    cursor: pointer;
}

.botaodecorlua{
    background-color: rgb(36, 36, 36);
    height: 30px;
    width: 30px;
    position: fixed;
    top: 40px;
    left: 20px;
    border-radius: 100%;
    cursor: pointer;
}


.section-global-enemy{
    height: 500px;
    width: 700px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
}


/* PERFILS */

.general{
    height: 300px;
    width: 400px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transition: 1s;
    overflow: hidden;
}

.general:hover{
    height: 435px;
}

.general:hover > .socialmedias{
    display: flex;
    opacity: 100%;
}

.general:hover > .pprofile{
    opacity: 0%;
}

.general>.pprofile{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 520;
    opacity: 100%;
    transition: 0.4s;
}

.general:hover > .buttonprofile>a>button{
    opacity: 100%;
}

.buttonprofile{
    margin: 0 auto;
    text-align: center;
}

.buttonprofile>a>button{
    position: relative;
    top: -10px;
    margin: 0 auto;
    border-radius: 50px;
    width: 300px;
    height: 60px;
    background-color: rgb(33, 19, 61);
    color: white;
    font-size: 16px;
    border: 2px solid white;
    opacity: 0%;
    transition: 0.1s;
    cursor: pointer;
}


.profile-nic{
    background-color: rgb(255, 255, 255);
}

.profile-yran{
    background-color: rgb(255, 255, 255);
    display: none;
}

.profile-miguel{
    background-color: rgb(255, 255, 255);
    display: none;
}

/*FOTO PARA OS PERFIL*/
    
.picturespace{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 30px auto;
    background-image: url(pictureno.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: rgb(33, 19, 61);

}

/*Social Medias*/
    
.socialmedias{
    height: 60px;
    width: 300px;
    position: relative;
    top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

.socialmediaimg{
    width: 50px;
}


/* ESTILIZAÇAO DOS BOTOES */

.front-to-yran{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 230px;
    margin-right: 20px;
    float: right;
    background-color: white;
    display: block;
    cursor: pointer;
}


.front-to-miguel{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 230px;
    margin-right: 20px;
    float: right;
    background-color: white;
    display: none;
    cursor: pointer;
}

.back-to-nic{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 230px;
    margin-left: 20px;
    float: left;
    background-color: white;
    cursor: pointer;
    display: none;
}

.back-to-yran{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 230px;
    margin-left: 20px;
    float: left;
    background-color: white;
    cursor: pointer;
    display: none;
}

.generalbuttonfront::after{
    content: "";
    display: block;
    position: relative;
    left: 27px;
    top: -2px;
    height: 25px;
    width: 10px;
    transform: rotate(220deg);
    background-color: gray;
}

.generalbuttonfront::before{
    content: "";
    display: block;
    position: relative; 
    left: 25px;
    top: 12px;
    height: 25px;
    width: 10px;
    transform: rotate(130deg);
    background-color: #2f004e;
}

.generalbuttonback::after{
    content: "";
    display: block;
    position: relative;
    left: 21px;
    top: -13px;
    height: 25px;
    width: 10px;
    transform: rotate(220deg);
    background-color: gray;
}

.generalbuttonback::before{
    content: "";
    display: block;
    position: relative; 
    left: 23px;
    top: 23px;
    height: 25px;
    width: 10px;
    transform: rotate(130deg);
    background-color: #2f004e;
}

/* AREA DO JS */


.section-global-enemy.activ .profile-nic , .section-global-enemy.activ .front-to-yran{
    display: none;
}

.section-global-enemy.activ .profile-yran , .section-global-enemy.activ .back-to-nic , .section-global-enemy.activ .front-to-miguel{
    display: block;
}

.section-global-enemy.acti .profile-miguel , .section-global-enemy.acti .back-to-yran{
    display: block;
}

.section-global-enemy.acti .front-to-miguel , .section-global-enemy.acti .front-to-yran{
    display: none;
}

.background-global-enemy.active{
    background-color: #c47af5;
}


.section-global-enemy.active .general>.buttonprofile>a>button{
    background-color: #c47af5;
}


.section-global-enemy.active .generalbuttonfront::before{
    background-color: #c47af5;
}

.section-global-enemy.active .generalbuttonback::before{
    background-color: #c47af5;
}


@media screen and  (max-width: 850px) {

.general{
    height: 200px;
    width: 290px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transition: 0.3s;
    overflow: hidden;
}

.general:hover{
    height: 200px;
}

.general:hover > .socialmedias{
    display: none;
    opacity: 0%;
}

.general:hover > .pprofile{
    opacity: 100%;
}

.general>.pprofile{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 520;
    opacity: 100%;
    transition: 0.4s;
}

.general:hover > .buttonprofile>a>button{
    opacity: 0%;
}

.buttonprofile{
    margin: 0 auto;
    text-align: center;
}

.buttonprofile>a>button{
    position: relative;
    top: -23px;
    margin: 0 auto;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    background-color: rgb(33, 19, 61);
    color: white;
    font-size: 16px;
    border: 2px solid white;
    opacity: 0%;
    transition: 0.1s;
    display: none;
    cursor: pointer;
}


.profile-nic{
    background-color: rgb(255, 255, 255);
}

.profile-yran{
    background-color: rgb(255, 255, 255);
    display: none;
}

.profile-miguel{
    background-color: rgb(255, 255, 255);
    display: none;
}

/*FOTO PARA OS PERFIL*/
    
.picturespace{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 30px auto;
    background-image: url(pictureno.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: rgb(33, 19, 61);

}

/*Social Medias*/
    
.socialmedias{
    height: 60px;
    width: 200px;
    position: relative;
    top: -10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    display: none;
}

.socialmediaimg{
    width: 30px;
}


/* ESTILIZAÇAO DOS BOTOES */

.front-to-yran{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 490px;
    margin-right: 240px;
    float: right;
    background-color: white;
    display: block;
    cursor: pointer;
}


.front-to-miguel{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 490px;
    margin-right: 240px;
    float: right;
    background-color: white;
    display: none;
    cursor: pointer;
}

.back-to-nic{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 490px;
    margin-left: 240px;
    float: left;
    background-color: white;
    cursor: pointer;
    display: none;
}

.back-to-yran{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 490px;
    margin-left: 240px;
    float: left;
    background-color: white;
    cursor: pointer;
    display: none;
}

.section-global-enemy.mobiletest .general{
    height: 250px;
}

.section-global-enemy.mobiletest .profile-miguel{
    height: 250px;
}

.section-global-enemy.mobiletest .profile-yran{
    height: 250px;
}

.section-global-enemy.mobiletest .general>.socialmedias{
    display: flex;
    opacity: 100%;
}

.section-global-enemy.mobiletest .general>.buttonprofile>a>button{
    opacity: 100%;
    display: block;

}

.background-global-enemy.active{
    background-color: white;
}


.section-global-enemy.active .general>.buttonprofile>a>button{
    background-color: #c47af5;
}


.section-global-enemy.active .generalbuttonfront::before{
    background-color: #c47af5;
}

.section-global-enemy.active .generalbuttonback::before{
    background-color: #c47af5;
}

}   
